




  .inputwork{
   margin-left:-230px;
    background:none;
   }
   .inputwork2{
    margin-left:-200px;
    background:none;
    }

    .inputwork3{
        margin-left:-200px;
        background:none;
        }

   .general1{
    align-items:center;
    text-align:center;
    justify-content:center;
    }

    .login1{
margin-left:-16px;
align-items:center;
text-align:center;
justify-content:center;
display:flex;

img{
    width:50px; 
}
span{
    font-size: 35px;
    font-weight:100;
    margin-top:-8px;
    margin-left:-15px;
}

    }
