

.marco{

width:95%;
height: 60vh;
margin:50px auto 0;
overflow:hidden;
margin-top:100px;
object-fit: cover;

ul{
display: flex;
padding:0;
width: 400%;
animation:slider 14s infinite alternate;
}

li{
    width:100%;
    list-style: none;
}

img{
    width:100%;
    height:60vh;
    }


}

@keyframes slider{

    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media (max-width: 500px) {

    .marco{

        width:95%;
        height: 30vh;
        margin:40px auto 0;
        overflow:hidden;
        margin-top:100px;
        object-fit: cover;
        
        ul{
        display: flex;
        padding:0;
        width: 400%;
        animation:slider 14s infinite alternate;
        }
        
        li{
            width:100%;
            list-style: none;
        }
        
        img{
            width:100%;
            height:30vh;
            }
        
        
        }

}